/*!
 * TrukTales Site CSS
!*/

body {
	font-family:sans-serif;
}

#outer-wrapper {
	width:780px;
	margin:0 auto;
	text-align:center;
}

h1 {
	text-align: center;
	font-size:48px;
	text-shadow: 2px 2px #A8A8A8;
}

h2 {
	text-align:center;
	margin:0;
	padding:7px;
	font-size:18px;
}

a {
	width:200px;
}

#footer-text {
	margin-top:20px;
	font-size:12px;
	font-color:#A8A8A8;
}

a.simple-link {
	color:#0088cc;
}

.inner-story-image-wrapper {
	padding:20px 20px 0 0;
	text-align:left;
}

input {
	margin-top:5px;
}

.inner-story-wrapper0 {
	border-bottom:1px solid #898A8C;
}

.inner-story-wrapper1 {
	border-bottom:1px solid #898A8C;
	background-color:#F9F8F6;
}

.delete-page-link {
	float:right;
	margin-top:-27px;
	margin-right:10px;
}

.delete-page-link a:link {
	color:#0088cc !important;
}

#add-another-page {
	padding:20px 0;
	background-color:#ffc;
	border-bottom:1px solid #000;
}

#authors-illustrators-wrapper {
	text-align:left;
	font-size:18px;
	font-weight:bold;
	border-bottom:1px solid #898A8C;
	padding:10px 0 10px 30px;
}

.author-illustrator-width {
	width:110px;
	padding-top:5px;
	float:left;
}

.auth-illustrator-textbox {
	width:607px;
}

#create-story-button-wrapper {
	margin-top:10px;
}

.story-list
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
.story-list td, .story-list th 
{
font-size:1.2em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
.story-list td {
text-align:left;
}
.story-list th 
{
font-size:1.4em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#fff;
}
.story-list tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}

#story-name-wrapper {
	text-align:left;
	font-size:18px;
	font-weight:bold;
	border-top:1px solid #898A8C;
	border-bottom:1px solid #898A8C;
	padding:10px 0 10px 30px;
}

.title-translate-width, .author-illustrator-translate-width {
	padding-top:5px;
}

.title-width {
	width:110px;
	padding-top:5px;
	float:left;
}

.title-textbox {
	width:535px;
}

#authors-illustrators-page-wrapper {
	text-align:left;
	font-size:18px;
	font-weight:bold;
	padding:70px 0 10px 30px;
}